<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <nav class="navbar">
    <a class="nav-link" href="#">Acerca</a>
    <a class="nav-link" href="#">Contactos</a>
  </nav>

  <div class="container">
    <img src="logoPN.png" class="logo">
  </div>
</body>
</html>

<div class="consulta">
    <form action="consultar" method="post">
        <label for="">Consulta: </label>
        <input  name="pregunta">
        <button type="submit">Enviar</button>
        <i class="bi bi-list"></i>
    </form>
</div>
   
</body>
</html>